@import url(http://fonts.googleapis.com/css?family=Vollkorn:400,400italic,700,700italic&subset=latin);


.md *{
	padding: 2px 0;
	color: #444;
}

.md pre{
	background:#eee;
	padding:5px;
	overflow:auto;
	overflow-y:hidden;
	scrollbar-arrow-color: #f4ae21; /**//*三角箭头的颜色*/ 
	scrollbar-face-color: #333; /**//*立体滚动条的颜色*/ 
	scrollbar-3dlight-color: #666; /**//*立体滚动条亮边的颜 色*/ 
	scrollbar-highlight-color: #666; /**//*滚动条空白部分的 颜色*/ 
	scrollbar-shadow-color: #999; /**//*立体滚动条阴影的颜 色*/ 
	scrollbar-darkshadow-color: #666; /**//*立体滚动条强阴 影的颜色*/ 
	scrollbar-track-color: #666; /**//*立体滚动条背景颜色*/ 
	scrollbar-base-color:#f8f8f8; /**//*滚动条的基本颜色*/ 
}


.md a{
	color: #4183c4;
    text-decoration: none;
}
.md a:hover{
	color: blueviolet;
	cursor: pointer;
}

.md h1{
	font-size:1.48em;
}
.md h2{
	font-size:1.40em;
}
.md h3{
	font-size:1.32em;
}
.md h4{
	font-size:1.24em;
}
.md h5{
	font-size:1.16em;
}
.md h6{
	font-size:1.08em;
}

.md ul,ol{
	list-style:disc;
	margin-left:20px;
}
.md ul ul{
	list-style:circle;
}
.md ul ul ul{
	list-style:square;
}
.md ul ul ul ul{
	list-style:decimal;
}
.md ol{
	list-style:upper-roman;
}
.md ol ol{
	list-style:upper-latin;
}
.md ol ol ol{
	list-style:decimal;
}
.md ol ol ol ol{
	list-style:lower-greek;
}

.md table{
	border-collapse: collapse;
}
.md table th,td{
	border:1px solid gray;
	padding:5px 10px;
}
.md table tr:nth-child(even){
	background: #eee;
}

.md .codehilite .hll { background-color: #ffffcc }
.md .codehilite  { background: #f8f8f8; }
.md .codehilite .c { color: #408080; font-style: italic } /* Comment */
.md .codehilite .err { border: 1px solid #FF0000 } /* Error */
.md .codehilite .k { color: #008000; font-weight: bold } /* Keyword */
.md .codehilite .o { color: #666666 } /* Operator */
.md .codehilite .cm { color: #408080; font-style: italic } /* Comment.Multiline */
.md .codehilite .cp { color: #BC7A00 } /* Comment.Preproc */
.md .codehilite .c1 { color: #408080; font-style: italic } /* Comment.Single */
.md .codehilite .cs { color: #408080; font-style: italic } /* Comment.Special */
.md .codehilite .gd { color: #A00000 } /* Generic.Deleted */
.md .codehilite .ge { font-style: italic } /* Generic.Emph */
.md .codehilite .gr { color: #FF0000 } /* Generic.Error */
.md .codehilite .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.md .codehilite .gi { color: #00A000 } /* Generic.Inserted */
.md .codehilite .go { color: #808080 } /* Generic.Output */
.md .codehilite .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.md .codehilite .gs { font-weight: bold } /* Generic.Strong */
.md .codehilite .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.md .codehilite .gt { color: #0040D0 } /* Generic.Traceback */
.md .codehilite .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.md .codehilite .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.md .codehilite .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.md .codehilite .kp { color: #008000 } /* Keyword.Pseudo */
.md .codehilite .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.md .codehilite .kt { color: #B00040 } /* Keyword.Type */
.md .codehilite .m { color: #666666 } /* Literal.Number */
.md .codehilite .s { color: #BA2121 } /* Literal.String */
.md .codehilite .na { color: #7D9029 } /* Name.Attribute */
.md .codehilite .nb { color: #008000 } /* Name.Builtin */
.md .codehilite .nc { color: #0000FF; font-weight: bold } /* Name.Class */
.md .codehilite .no { color: #880000 } /* Name.Constant */
.md .codehilite .nd { color: #AA22FF } /* Name.Decorator */
.md .codehilite .ni { color: #999999; font-weight: bold } /* Name.Entity */
.md .codehilite .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.md .codehilite .nf { color: #0000FF } /* Name.Function */
.md .codehilite .nl { color: #A0A000 } /* Name.Label */
.md .codehilite .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.md .codehilite .nt { color: #008000; font-weight: bold } /* Name.Tag */
.md .codehilite .nv { color: #19177C } /* Name.Variable */
.md .codehilite .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.md .codehilite .w { color: #bbbbbb } /* Text.Whitespace */
.md .codehilite .mf { color: #666666 } /* Literal.Number.Float */
.md .codehilite .mh { color: #666666 } /* Literal.Number.Hex */
.md .codehilite .mi { color: #666666 } /* Literal.Number.Integer */
.md .codehilite .mo { color: #666666 } /* Literal.Number.Oct */
.md .codehilite .sb { color: #BA2121 } /* Literal.String.Backtick */
.md .codehilite .sc { color: #BA2121 } /* Literal.String.Char */
.md .codehilite .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.md .codehilite .s2 { color: #BA2121 } /* Literal.String.Double */
.md .codehilite .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.md .codehilite .sh { color: #BA2121 } /* Literal.String.Heredoc */
.md .codehilite .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.md .codehilite .sx { color: #008000 } /* Literal.String.Other */
.md .codehilite .sr { color: #BB6688 } /* Literal.String.Regex */
.md .codehilite .s1 { color: #BA2121 } /* Literal.String.Single */
.md .codehilite .ss { color: #19177C } /* Literal.String.Symbol */
.md .codehilite .bp { color: #008000 } /* Name.Builtin.Pseudo */
.md .codehilite .vc { color: #19177C } /* Name.Variable.Class */
.md .codehilite .vg { color: #19177C } /* Name.Variable.Global */
.md .codehilite .vi { color: #19177C } /* Name.Variable.Instance */
.md .codehilite .il { color: #666666 } /* Literal.Number.Integer.Long */