#tag_contents_ul {
  list-style: none;
  margin-left: 10px;
}
#tag_contents_ul li h2 {
  font-size: 1.2em;
}
#tag_contents_ul li ul {
  list-style: disc;
}
#tag_contents_ul li ul li a {
  cursor: pointer;
}
#tag_contents_ul li ul li span {
  font-size: 0.7em;
  color: #777;
  font-style: italic;
}
