@font-face {
  font-family: 'Vollkorn';
  font-style: italic;
  font-weight: 400;
  src: local('Vollkorn Italic'), local('Vollkorn-Italic'), url(https://fonts.gstatic.com/s/vollkorn/v8/0yb7GDoxxrvAnPhYGxksWE8erA.ttf) format('truetype');
}
@font-face {
  font-family: 'Vollkorn';
  font-style: italic;
  font-weight: 700;
  src: local('Vollkorn Bold Italic'), local('Vollkorn-BoldItalic'), url(https://fonts.gstatic.com/s/vollkorn/v8/0yb4GDoxxrvAnPhYGxksUPQ7vBcU_Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: 400;
  src: local('Vollkorn Regular'), local('Vollkorn-Regular'), url(https://fonts.gstatic.com/s/vollkorn/v8/0yb9GDoxxrvAnPhYGxkpaEg.ttf) format('truetype');
}
@font-face {
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: 700;
  src: local('Vollkorn Bold'), local('Vollkorn-Bold'), url(https://fonts.gstatic.com/s/vollkorn/v8/0yb6GDoxxrvAnPhYGxGSTVg5jBA.ttf) format('truetype');
}
.md * {
  padding: 2px 0;
  color: #444;
}
.md pre {
  background: #eee;
  padding: 5px;
  overflow: auto;
  overflow-y: hidden;
  scrollbar-arrow-color: #f4ae21;
  /**/
  /*三角箭头的颜色*/
  scrollbar-face-color: #333;
  /**/
  /*立体滚动条的颜色*/
  scrollbar-3dlight-color: #666;
  /**/
  /*立体滚动条亮边的颜 色*/
  scrollbar-highlight-color: #666;
  /**/
  /*滚动条空白部分的 颜色*/
  scrollbar-shadow-color: #999;
  /**/
  /*立体滚动条阴影的颜 色*/
  scrollbar-darkshadow-color: #666;
  /**/
  /*立体滚动条强阴 影的颜色*/
  scrollbar-track-color: #666;
  /**/
  /*立体滚动条背景颜色*/
  scrollbar-base-color: #f8f8f8;
  /**/
  /*滚动条的基本颜色*/
}
.md a {
  color: #4183c4;
  text-decoration: none;
}
.md a:hover {
  color: blueviolet;
  cursor: pointer;
}
.md h1 {
  font-size: 1.48em;
}
.md h2 {
  font-size: 1.4em;
}
.md h3 {
  font-size: 1.32em;
}
.md h4 {
  font-size: 1.24em;
}
.md h5 {
  font-size: 1.16em;
}
.md h6 {
  font-size: 1.08em;
}
.md ul {
  list-style: disc;
  margin-left: 20px;
}
.md ul ul {
  list-style: circle;
}
.md ul ul ul {
  list-style: square;
}
.md ul ul ul ul {
  list-style: decimal;
}
.md ol {
  list-style: upper-roman;
  margin-left: 20px;
}
.md ol ol {
  list-style: upper-latin;
}
.md ol ol ol {
  list-style: decimal;
}
.md ol ol ol ol {
  list-style: lower-greek;
}
.md table {
  border-collapse: collapse;
}
.md table th,
.md table td {
  border: 1px solid gray;
  padding: 5px 10px;
  text-align: center;
}
.md table tr:nth-child(even) {
  background: #eee;
}
.md .codehilite {
  background: #f8f8f8;
  /* Comment */
  /* Error */
  /* Keyword */
  /* Operator */
  /* Comment.Multiline */
  /* Comment.Preproc */
  /* Comment.Single */
  /* Comment.Special */
  /* Generic.Deleted */
  /* Generic.Emph */
  /* Generic.Error */
  /* Generic.Heading */
  /* Generic.Inserted */
  /* Generic.Output */
  /* Generic.Prompt */
  /* Generic.Strong */
  /* Generic.Subheading */
  /* Generic.Traceback */
  /* Keyword.Constant */
  /* Keyword.Declaration */
  /* Keyword.Namespace */
  /* Keyword.Pseudo */
  /* Keyword.Reserved */
  /* Keyword.Type */
  /* Literal.Number */
  /* Literal.String */
  /* Name.Attribute */
  /* Name.Builtin */
  /* Name.Class */
  /* Name.Constant */
  /* Name.Decorator */
  /* Name.Entity */
  /* Name.Exception */
  /* Name.Function */
  /* Name.Label */
  /* Name.Namespace */
  /* Name.Tag */
  /* Name.Variable */
  /* Operator.Word */
  /* Text.Whitespace */
  /* Literal.Number.Float */
  /* Literal.Number.Hex */
  /* Literal.Number.Integer */
  /* Literal.Number.Oct */
  /* Literal.String.Backtick */
  /* Literal.String.Char */
  /* Literal.String.Doc */
  /* Literal.String.Double */
  /* Literal.String.Escape */
  /* Literal.String.Heredoc */
  /* Literal.String.Interpol */
  /* Literal.String.Other */
  /* Literal.String.Regex */
  /* Literal.String.Single */
  /* Literal.String.Symbol */
  /* Name.Builtin.Pseudo */
  /* Name.Variable.Class */
  /* Name.Variable.Global */
  /* Name.Variable.Instance */
  /* Literal.Number.Integer.Long */
}
.md .codehilite .hll {
  background-color: #ffffcc;
}
.md .codehilite .c {
  color: #408080;
  font-style: italic;
}
.md .codehilite .err {
  border: 1px solid #FF0000;
}
.md .codehilite .k {
  color: #008000;
  font-weight: bold;
}
.md .codehilite .o {
  color: #666666;
}
.md .codehilite .cm {
  color: #408080;
  font-style: italic;
}
.md .codehilite .cp {
  color: #BC7A00;
}
.md .codehilite .c1 {
  color: #408080;
  font-style: italic;
}
.md .codehilite .cs {
  color: #408080;
  font-style: italic;
}
.md .codehilite .gd {
  color: #A00000;
}
.md .codehilite .ge {
  font-style: italic;
}
.md .codehilite .gr {
  color: #FF0000;
}
.md .codehilite .gh {
  color: #000080;
  font-weight: bold;
}
.md .codehilite .gi {
  color: #00A000;
}
.md .codehilite .go {
  color: #808080;
}
.md .codehilite .gp {
  color: #000080;
  font-weight: bold;
}
.md .codehilite .gs {
  font-weight: bold;
}
.md .codehilite .gu {
  color: #800080;
  font-weight: bold;
}
.md .codehilite .gt {
  color: #0040D0;
}
.md .codehilite .kc {
  color: #008000;
  font-weight: bold;
}
.md .codehilite .kd {
  color: #008000;
  font-weight: bold;
}
.md .codehilite .kn {
  color: #008000;
  font-weight: bold;
}
.md .codehilite .kp {
  color: #008000;
}
.md .codehilite .kr {
  color: #008000;
  font-weight: bold;
}
.md .codehilite .kt {
  color: #B00040;
}
.md .codehilite .m {
  color: #666666;
}
.md .codehilite .s {
  color: #BA2121;
}
.md .codehilite .na {
  color: #7D9029;
}
.md .codehilite .nb {
  color: #008000;
}
.md .codehilite .nc {
  color: #0000FF;
  font-weight: bold;
}
.md .codehilite .no {
  color: #880000;
}
.md .codehilite .nd {
  color: #AA22FF;
}
.md .codehilite .ni {
  color: #999999;
  font-weight: bold;
}
.md .codehilite .ne {
  color: #D2413A;
  font-weight: bold;
}
.md .codehilite .nf {
  color: #0000FF;
}
.md .codehilite .nl {
  color: #A0A000;
}
.md .codehilite .nn {
  color: #0000FF;
  font-weight: bold;
}
.md .codehilite .nt {
  color: #008000;
  font-weight: bold;
}
.md .codehilite .nv {
  color: #19177C;
}
.md .codehilite .ow {
  color: #AA22FF;
  font-weight: bold;
}
.md .codehilite .w {
  color: #bbbbbb;
}
.md .codehilite .mf {
  color: #666666;
}
.md .codehilite .mh {
  color: #666666;
}
.md .codehilite .mi {
  color: #666666;
}
.md .codehilite .mo {
  color: #666666;
}
.md .codehilite .sb {
  color: #BA2121;
}
.md .codehilite .sc {
  color: #BA2121;
}
.md .codehilite .sd {
  color: #BA2121;
  font-style: italic;
}
.md .codehilite .s2 {
  color: #BA2121;
}
.md .codehilite .se {
  color: #BB6622;
  font-weight: bold;
}
.md .codehilite .sh {
  color: #BA2121;
}
.md .codehilite .si {
  color: #BB6688;
  font-weight: bold;
}
.md .codehilite .sx {
  color: #008000;
}
.md .codehilite .sr {
  color: #BB6688;
}
.md .codehilite .s1 {
  color: #BA2121;
}
.md .codehilite .ss {
  color: #19177C;
}
.md .codehilite .bp {
  color: #008000;
}
.md .codehilite .vc {
  color: #19177C;
}
.md .codehilite .vg {
  color: #19177C;
}
.md .codehilite .vi {
  color: #19177C;
}
.md .codehilite .il {
  color: #666666;
}
